{% extends 'base.html.twig' %}


{% block body %}

<div class="example-wrapper">
    <div id="contenido">
    <h1>Búsqueda de Equipos Informáticos I.E.S El Caminàs</h1>


    <! -- botones de funcionalidad para añadir y borrar datos --> 
    <a href="{{ path('ordinadors')}}"">Ordinadors</a>
    <a href="{{ path('mifi')}}" >Mifi</a>
    <a href="{{ path('borrar')}}" >Borrar</a>

    
    <! -- La tabla con la base de datos --> 
    <table>
        <tr>
            <th class="lado_izquierdo"> Nom </th>
            <th> Entitat </th>
            <th> GVA - Codi Inventari </th>
            <th> Estat </th>
            <th> Tipus </th>
            <th> GVA - Codi Article</th>
            <th> GVA - Descripció Codi Article </th>
            <th> Número de sèrie </th>
            <th> Fabricant </th>
            <th> Model</th>
            <th> Sistema operatiu - Nom</th>
            <th> Sistema operatiu - Versió </th>
            <th> GVA - Espai Destí </th>
            <th class="lado_derecho">GVA - Descripció Espai Destí</th>
        <tr>
        {% for ordenador in ordenadors %}
        <tr>
            <td class="lado_izquierdo"> {{ordenador.Nom}} </td>
            <td> {{ordenador.Entitat}} </td>
            <td> {{ordenador.CodiInventari}} </td>
            <td> {{ordenador.Estat}} </td>
            <td> {{ordenador.Tipus}} </td>
            <td> {{ordenador.CodiArticle}} </td>
            <td> {{ordenador.DescripcioCodiArticle}} </td>
            <td> {{ordenador.NumeroSerie}} </td>
            <td> {{ordenador.Fabricant}} </td>
            <td> {{ordenador.Model}} </td>
            <td> {{ordenador.SistemaOperatiuNom}} </td>
            <td> {{ordenador.SistemaOperatiuVersio}} </td>
            <td> {{ordenador.EspaiDesti}} </td>
            <td class="lado_derecho"> {{ordenador.DescripcioEspaiDesti}} </td>
        <tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
