{% extends 'base.html.twig' %}


{% block body %}
<div="todo">
<div class="example-wrapper">
    <div id="contenido">
    <h1>Búsqueda de Equipos Informáticos I.E.S El Caminàs</h1>


    <! -- botones de funcionalidad para añadir y borrar datos --> 
   <div>
Ordenadores
  {{ form_start(formulario) }}
  {{ form_end(formulario) }}
</div>

    <a href="{{ path('borrar')}}" >Borrar</a>


    <a href="{{path('limpiar')}}">Limpiar</a>
    <div id="guardar">
     {{ form_start(formularioTexto) }}
     {{ form_end(formularioTexto) }}
    </div>
    
    <! -- La tabla con la base de datos --> 
    <div id="tabla">
    <table>
    
        <tr>
            <th class="lado_izquierdo"> Nom </th>
            <th> Entitat </th>
            <th> GVA - Codi Inventari </th>
            <th> Estat </th>
            <th> Tipus </th>
            <th> GVA - Codi Article</th>
            <th> GVA - Descripció Codi Article </th>
            <th> Número de sèrie </th>
            <th> Fabricant </th>
            <th> Model</th>
            <th> Sistema operatiu - Nom</th>
            <th> Sistema operatiu - Versió </th>
            <th> GVA - Espai Destí </th>
            <th class="lado_derecho">GVA - Descripció Espai Destí</th>
        <tr>
        {% set index = 0 %}
        {% for ordenador in ordenadors %}
            
        
        <tr>
            <td class="lado_izquierdo">
            {% if formulariocheckbox[loop.index0]=="Verdadero" %}
            <a href="{{ path('verdadero', {currentPage: thisPage, id:ordenador.Id, tipo:0}) }}"><img src="{{asset('images/verdadero.png')}}" alt="Verdadero" height="15px" width="15px"></a>
            {% else %}
            <a href="{{ path('falso', {currentPage: thisPage, id:ordenador.Id, tipo:0 }) }}"><img src="{{asset('images/falso.png')}}" alt="Falso" height="15px" width="15px"></a>
            {% endif %}
            {{ordenador.Nom}} </td>
            <td> {{ordenador.Entitat}} </td>
            <td> {{ordenador.CodiInventari}} </td>
            <td> {{ordenador.Estat}} </td>
            <td> {{ordenador.Tipus}} </td>
            <td> {{ordenador.CodiArticle}} </td>
            <td> {{ordenador.DescripcioCodiArticle}} </td>
            <td> {{ordenador.NumeroSerie}} </td>
            <td> {{ordenador.Fabricant}} </td>
            <td> {{ordenador.Model}} </td>
            <td> {{ordenador.SistemaOperatiuNom}} </td>
            <td> {{ordenador.SistemaOperatiuVersio}} </td>
            <td> {{ordenador.EspaiDesti}} </td>
            <td class="lado_derecho"> {{ordenador.DescripcioEspaiDesti}} </td>
        <tr>
        {% endfor %}
    </table>
    </div>
    
<! -- Html de el paginador -->
    {% if maxPages > 1 %}
    <ul>
        {%if thisPage > 1 %}
            
                <a href="{{ path('index', {currentPage: thisPage-1 }) }}">«</a>
            
        {% endif %}

        {% if thisPage < 4 %}
        
        {% for i in 1..thisPage+4 %}
            
                <a href="{{ path('index', {currentPage: i}) }}">{{ i }}</a>
            
        {% endfor %}
                ..
                <a href="{{ path('index', {currentPage: maxPages}) }}">{{ maxPages }}</a>
        {% elseif thisPage < maxPages - 4 %}
                <a href="{{ path('index', {currentPage: 1}) }}">{{ 1 }}</a>
                ..
                
        {% for i in thisPage -3 ..thisPage +3 %}
            <a href="{{ path('index', {currentPage: i}) }}">{{ i }}</a>
        {% endfor %}
            ..
            <a href="{{ path('index', {currentPage: maxPages}) }}">{{ maxPages }}</a>
        {% else %}
            <a href="{{ path('index', {currentPage: 1}) }}">{{ 1 }}</a>
            ..
            {% for i in thisPage -3 ..maxPages %}
            <a href="{{ path('index', {currentPage: i}) }}">{{ i }}</a>
            {% endfor %}
        {% endif %}
        
        {%if thisPage < maxPages %}
            
                <a href="{{ path('index', {currentPage: thisPage+1 }) }}">»</a>
            
        {% endif %}
        <a href="{{ path('extendido', {currentPage: thisPage }) }}">Extendido</a>
    </ul>
{% endif %}

</div>
</div>
{% endblock %}
